body{
    background-color: #012F45;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.clockbox,
#clock {
    width: 100%;
}

/* Clock styles */
.circle {
    fill: #0287C4;
    stroke: #016491;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #012738;
}
.digital-box{
    fill: #FFF;
    stroke: #012738;
    stroke-width: 5;
    stroke-miterlimit: 10;
}
.digital-text{
    font-family: 'DotGothic16', sans-serif;
    font-size: 50px;
    fill: #012738;
}
.sm-font{
    font-size: 30px !important;
}
.hour-marks {
    fill: none;
    stroke: #012738;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #012738;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #012738;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #012738;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.sizing-box {
    fill: none;
}

#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /*transition: transform .5s ease-in-out;*/
}
